src/main/resources/isaac/kcr6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.kcr.uky.edu/software/cpdmsnet" xmlns:xsd="http://www.w3.org/2001/XMLSchema">


    <xsd:element name="CaseData">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="CTStage" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PallProc" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FUSourceCentral" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ACOSSeqNo" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CModUser" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="SurvInterval" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FupPhys2" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="HER2FISH" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ADDistrict" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DateCompletedCoC" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FModUser" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="TxCompAll" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Surgeon" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CModTime" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PatAccNo" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CSTumorSize" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="SummStg2000" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DerivAJCC6StgGrpCode" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FUSource" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="AccNo" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CSMetsEval" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DiagZipCode" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CDataHospId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="SysSurgSeq" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DateMultipleTumorsFlag" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="RecurStatus" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CSrcPatId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="SurgDischDateFlag" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Comorbid1" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Comorbid2" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Comorbid3" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Comorbid4" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="HER2IHC" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="HER2Result" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DerivAJCC6NDesc" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Comorbid5" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CSSchema" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Comorbid6" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Comorbid7" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Comorbid8" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FUState" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DiagAddress2" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DiagDate" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="BehaviorCode" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DiagAddress1" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DateMultipleTumors" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ReasonNoHorm" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PTStage" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DerivAJCC6TCode" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Appalachia" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FURegistry" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="HER2TestUnspecified" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ReasonNoImmuno" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="SummStg2000Disp" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FUFName" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DateNoFirstTx" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DerivSS2000Flag" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Comorbid9" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="NodesExamined" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DiagCity" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DateFirstRecur" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="EODScheme" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="TumorSize1" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="MedOnc" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="MenopauseStatus" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="RecurSite4" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="TumorMarker1" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="TumorMarker2" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="TumorMarker3" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ClassHospId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CSVerInputCurrent" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CSFactor2" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CSFactor1" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="RecurSite3" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CTimestamp" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="RecurSite2" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CSFactor6" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DiagAge" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CSFactor5" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CSFactor4" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CSFactor3" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="NodeInvolve" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DerivAJCCFlag" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="RecurSite1" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CSTsExtEval" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DateMerged" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PathExtOfProst" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CSExtension" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DerivAJCC6NCode" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FIncomplete" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DiagConfirm" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DataGrp1" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PStagedBy" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DFInterval" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CNStage" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DateReceived" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DerivAJCC6M" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ICDO2BehaviorCode" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DerivAJCC6N" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="TNMEdition" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PStageGroup" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CSLymphNodes" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CDataPatId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="AccYear" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DerivAJCC6T" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FDataPatId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="AmbiguousTerminologyDx" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DateCompleted" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ChartNum" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CancerStatus" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DiagStgProc1" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DiagStgProc2" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DiagStgProc3" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DiagStgProc4" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="SummStg1977Disp" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Laterality" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="SiteOfMets3" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PTNMDescriptor" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ComorbidICDRev" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="HER2Performed" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CTNMDescriptor" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DiagState" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DiagCountry" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="SiteOfMets2" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="SiteOfMets1" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CSRegNodesEval" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="SurgDischDate" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FupPhys4" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ACOSTxStartDate" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FupPhys3" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FupPhys5" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ACOSCoding" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CSMets" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PMStage" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ACOSCodingCur" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="MultTumRptAsOnePrim" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FUDateLastContact" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ReasonNoSurg" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CSrcHospId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DerivAJCC6StgGrp" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="TxCompFrst" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Topography" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ArchiveFIN" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DataSrc" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ImportReportFacility" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PathReportNo" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DateFirstRecurFlag" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FupPhys" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="BestStgGrp" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ReasonNoOther" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PrimaryPayor" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DateLastUpdate" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CaseClass" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ICDO2Histology" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="RadOnc" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="AbstractedBy" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="MultiplicityCounter" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ReasonNoTrans" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ReasonNoRad" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DateConclusiveDxFlag" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PallProcHere" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FULName" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FModTime" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="MngPhys" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FUMethod2" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FUMethod1" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ICDO3Conversion" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Vendor" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ExtOfDz" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CMStage" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DerivSS1977Flag" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FUAddress1" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FUAddress2" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="TypeRptSrc" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CStagedBy" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LastFUHospId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CaseType" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FUZipCode" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="BealeCode" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CaseTypeOrig" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DateConclusiveDx" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FUPhone" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CIncomplete" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="SurvStatus" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="patUuid" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="SeqNo" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FDataHospId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ICDOVer" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CSrcCaseId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DerivAJCC6TDesc" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ReasonNoChemo" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DateFirstContact" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CStageGroup" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DerivAJCC6MDesc" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="SEERSite" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CSVerInputOrig" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Readmit" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="SEERSeqNo" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FamHxCa" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FUText" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="NodesPositive" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DerivAJCC6MCode" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="id" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PNStage" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Grade" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="SiteCode" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DFStartDate" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="MaritalStatus" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="SummStg1977" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="County" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Histology" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FUCity" type="xsd:string"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="PatData">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="IHSLink" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LastName" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="BirthState" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PModUser" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Address2" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Address1" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PDataPatId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PIncomplete" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Sex" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="TobaccoUse" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="MaidenName" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="MidName" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PSrcHospId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PIncompleteList" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="patUuid" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Country" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DeathPlace" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DateLastContact" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DeathCountry" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ContactPatient" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LiveBirths" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PSrcPatId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Industry" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PackYears" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Phone" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ACOSPatAccNo" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PModTime" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Race2" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Race1" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="BPlace" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Race4" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Race3" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Race5" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Occupation" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="FirstName" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PDataHospId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ClinTrialType3" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="SEERPatId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DeathCause" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ClinTrialType2" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ClinTrialType4" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="BDate" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Ethnicity" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="SSN" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ClinTrialDate1" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PTimestamp" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="InterRecIncomplete" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ClinTrialDate4" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ZipCode" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="DeathState" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ClinTrialDate3" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="City" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ClinTrialDate2" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="BirthCountry" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="CaseCount" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LinkStatus" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="State" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="VitalStat" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ClinTrialType1" type="xsd:string"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="CaseOther">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="OSeqNo" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="OSrcCaseOtherId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="OComment" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="ODiagYear" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="patUuid" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="OModTime" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="OSrcPatId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="id" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="OModUser" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="OSiteCode" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="OCaseType" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="OTimestamp" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="OSrcHospId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="OIncomplete" type="xsd:string"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="CaseText">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="TextLocalHospId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PathologyReport" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LabTests" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="SiteText" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="Scopes" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="patUuid" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="GeneralRemarks" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="StagingText" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="HistologyText" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="XSrcTexId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="XrayAndScans" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="id" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="XSrcCaseId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="XSrcPatId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="XTimestamp" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="XIncomplete" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="XModUser" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="XSrcHospId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="XModTime" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="OperativeReport" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="PhysicalExams" type="xsd:string"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="ClassHx">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="LCaseClass" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LDateReceived" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LDateLastUpdate" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LSrcPatId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LDateFirstContact" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LIncomplete" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="patUuid" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LArchiveFIN" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LSrcClhxId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LAccYear" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LPallProcHere" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LAbstractedBy" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LSrcCaseId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="id" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LModTime" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LImportReportFacility" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LHospId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LAccNo" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LModUser" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LChartNum" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LTimestamp" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LPatAccNo" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LDateCompletedCoC" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LSrcHospId" type="xsd:string"></xsd:element>
                <xsd:element minOccurs="0" name="LDateCompleted" type="xsd:string"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="CaseTx">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:any maxOccurs="unbounded" processContents="lax"></xsd:any>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


</xsd:schema>
