docs/isaac/data6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.naaccr.org/dataexchange/xml"
	xmlns:naxml="http://www.naaccr.org/dataexchange/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:include schemaLocation="base6.xsd"></xsd:include>

	<xsd:element name="NaaccrDataExchange">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:NaaccrRecordVersion"></xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:VendorName"></xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateCaseReportExported"></xsd:element>
				<xsd:element minOccurs="0" name="NaaccrDataExchangeExtension">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:any maxOccurs="unbounded" processContents="lax"></xsd:any>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="Patient">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RecordType"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PatientIdNumber"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PatientSysIdHospital"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:Ihs"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:Race1"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:Race2"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:Race3"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:Race4"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:Race5"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:Napiia"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RaceCodingSysCurrent"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RaceCodingSysOriginal"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SpanishHispanicOrigin"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:Nhia"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:ComputedEthnicity"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:ComputedEthnicitySource"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:Sex"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:BirthDate"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:BirthDateFlag"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:BirthPlace"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:BirthplaceState"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:BirthplaceCountry"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:AddressCurrentCity"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:AddressCurrentState"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:AddressCurrentCountry"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:AddressCurrentPostalCode"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:AddressCurrentCounty"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OccupationCodeCensus"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:IndustryCodeCensus"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OccupationSource"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:IndustrySource"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TextUsualOccupation"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TextUsualIndustry"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OccupationIndustryCodingSys"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CensusIndCode2010"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CensusOccCode2010"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:NameLast"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:NameFirst"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:NameMiddle"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:NameMaiden"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:NamePrefix"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:NameSuffix"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:NameAlias"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:NameSpouseParent"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SocialSecurityNumber"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:AddressCurrentStreetName"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:AddressCurrentSupplementl"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:Telephone"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateOfLastContact"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateOfLastContactFlag"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateOfDeathCanada"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateOfDeathCanadaFlag"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:VitalStatus"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:QualityOfSurvival"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CauseOfDeath"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:IcdRevisionNumber"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:Autopsy"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PlaceOfDeath"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PlaceOfDeathState"></xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PlaceOfDeathCountry"></xsd:element>
							<xsd:element minOccurs="0" name="PatientExtension">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:any maxOccurs="unbounded" processContents="lax"></xsd:any>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element maxOccurs="unbounded" minOccurs="0" name="Tumor">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RegistryType"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RegistryId"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RegistryIdNpi"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TumorRecordNumber"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SeerRecordNumber"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SequenceNumberCentral"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateOfDiagnosis"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateOfDiagnosisFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PrimarySite"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:Laterality"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:HistologyIcdO2"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:BehaviorIcdO2"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:Grade"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:GradePathValue"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:GradePathSys"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:AmbiguousTerminologyDx"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateConclusiveDx"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateConclusiveDxFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:MultiTumorRptAsOnePrim"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateOfMultipleTumors"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateOfMultipleTumorsFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:MultiplicityCounter"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SiteCodingSysCurrent"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SiteCodingSysOriginal"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:MorphCodingSysCurrent"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:MorphCodingSysOriginal"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DiagnosticConfirmation"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TypeOfReportingSource"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CasefindingSource"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:HistologyIcdO3"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:BehaviorIcdO3"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:ReportingFacility"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:ReportingFacilityNpi"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:AccessionNumberHosp"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SequenceNumberHosp"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:AbstractedBy"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateOf1stContact"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateOf1stContactFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateOfInptAdm"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateOfInptAdmFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateOfInptDisch"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateOfInptDischFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:InpatientStatus"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:ClassOfCase"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PrimaryPayerAtDx"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CrcChecksum"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateCaseInitiated"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateCaseCompleted"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateCaseCompletedCoc"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateCaseLastChanged"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateCaseReportReceived"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateCaseReportLoaded"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateTumorRecordAvailbl"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SeerCodingSysCurrent"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SeerCodingSysOriginal"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CocCodingSysCurrent"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CocCodingSysOriginal"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SeerTypeOfFollowUp"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DiagnosticProc7387"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:StateRequestorItems"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:InstitutionReferredFrom"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:InstitutionReferredFromNpi"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:InstitutionReferredTo"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:InstitutionReferredToNpi"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CancerStatus"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:FollowingRegistry"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:FollowingRegistryNpi"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:FollowUpSource"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:FollowUpSourceCentral"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:NextFollowUpSource"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:FollowUpContactCity"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:FollowUpContactState"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:FollowupContactCountry"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:FollowUpContactPostal"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:UnusualFollowUpMethod"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RecurrenceDate1st"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RecurrenceDate1stFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RecurrenceType1st"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:FollowUpContactNoAndStreet"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:FollowUpContactSuppl"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:FollowUpContactName"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TextDxProcPe"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TextDxProcXRayScan"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TextDxProcScopes"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TextDxProcLabTests"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TextDxProcOp"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TextDxProcPath"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TextPrimarySiteTitle"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TextHistologyTitle"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TextStaging"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TextRemarks"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PlaceOfDiagnosis"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:ArchiveFin"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:ArchiveFinNpi"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxHospDxStgProc"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateDxStgProc"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateDxStgProcFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:IcdRevisionComorbid"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:ComorbidComplication1"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:ComorbidComplication2"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:ComorbidComplication3"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:ComorbidComplication4"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:ComorbidComplication5"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:ComorbidComplication6"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:ComorbidComplication7"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:ComorbidComplication8"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:ComorbidComplication9"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:ComorbidComplication10"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SecondaryDiagnosis1"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SecondaryDiagnosis2"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SecondaryDiagnosis3"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SecondaryDiagnosis4"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SecondaryDiagnosis5"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SecondaryDiagnosis6"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SecondaryDiagnosis7"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SecondaryDiagnosis8"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SecondaryDiagnosis9"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SecondaryDiagnosis10"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:NpcrSpecificField"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PhysicianManaging"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PhysicianManagingNpi"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PhysicianFollowUp"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PhysicianFollowUpNpi"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PhysicianPrimarySurg"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PhysicianPrimarySurgNpi"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:Physician3"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:Physician3Npi"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:Physician4"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:Physician4Npi"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PrimarySiteIcdO1"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:HistologyIcdO1"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:BehaviorIcdO1"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:GradeIcdO1"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:IcdO2ConversionFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:IcdO3ConversionFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverRideSsNodesPos"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverRideSsTnmN"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverRideSsTnmM"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverRideAcsnClassSeq"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverRideHospSeqDxConf"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverRideCocSiteType"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverRideHospSeqSite"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverRideSiteTnmStgGrp"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverRideAgeSiteMorph"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverRideSeqNoDxConf"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverRideSiteLatSeqNo"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverRideSurgDxConf"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverRideSiteType"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverRideHistology"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverRideReportSource"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverRideIllDefineSite"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverRideLeukLymphoma"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverRideSiteBehavior"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverRideSiteEodDxDate"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverRideSiteLatEod"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverRideSiteLatMorph"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverrideCs1"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverrideCs2"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverrideCs3"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverrideCs4"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverrideCs5"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverrideCs6"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverrideCs7"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverrideCs8"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverrideCs9"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverrideCs10"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverrideCs11"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverrideCs12"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverrideCs13"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverrideCs14"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverrideCs15"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverrideCs16"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverrideCs17"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverrideCs18"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverrideCs19"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:OverrideCs20"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SeerSummaryStage2000"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SeerSummaryStage1977"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:EodTumorSize"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:EodExtension"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:EodExtensionProstPath"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:EodLymphNodeInvolv"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RegionalNodesPositive"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RegionalNodesExamined"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:EodOld13Digit"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:EodOld2Digit"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:EodOld4Digit"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:EodCodingSys"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TnmPathT"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TnmPathN"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TnmPathM"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TnmPathStageGroup"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TnmPathDescriptor"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TnmPathStagedBy"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TnmClinT"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TnmClinN"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TnmClinM"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TnmClinStageGroup"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TnmClinDescriptor"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TnmClinStagedBy"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TnmEditionNumber"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PediatricStage"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PediatricStagingSys"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PediatricStagedBy"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TumorMarker1"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TumorMarker2"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:TumorMarker3"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:LymphVascularInvasion"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SeerSiteSpecificFactor1"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SeerSiteSpecificFactor2"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SeerSiteSpecificFactor3"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SeerSiteSpecificFactor4"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SeerSiteSpecificFactor5"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SeerSiteSpecificFactor6"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsPreRxTumorSize"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsPreRxExt"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsPreRxSizeExtEval"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsPreRxLymphNodes"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsPreRxRegNodesEval"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsPreRxMetsAtDx"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsPreRxMetsEval"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsPostRxTumorSize"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsPostRxExt"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsPostRxLymphNodes"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsPostRxMetsAtDx"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsTumorSize"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsExtension"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsTumorSizeExtEval"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsLymphNodes"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsLymphNodesEval"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsMetsAtDx"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsMetsAtDxBone"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsMetsAtDxBrain"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsMetsAtDxLiver"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsMetsAtDxLung"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsMetsEval"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor1"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor2"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor3"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor4"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor5"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor6"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor7"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor8"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor9"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor10"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor11"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor12"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor13"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor14"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor15"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor16"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor17"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor18"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor19"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor20"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor21"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor22"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor23"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor24"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsSiteSpecificFactor25"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsVersionOriginal"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsVersionDerived"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CsVersionInputCurrent"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedAjcc6T"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedAjcc6TDescriptor"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedAjcc6N"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedAjcc6NDescriptor"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedAjcc6M"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedAjcc6MDescriptor"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedAjcc6StageGroup"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedAjcc7T"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedAjcc7TDescriptor"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedAjcc7N"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedAjcc7NDescriptor"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedAjcc7M"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedAjcc7MDescriptor"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedAjcc7StageGroup"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedPreRx7T"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedPreRx7TDescriptor"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedPreRx7N"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedPreRx7NDescriptor"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedPreRx7M"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedPreRx7MDescriptor"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedPreRx7StageGroup"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedPostRx7T"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedPostRx7N"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedPostRx7M"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedPostRx7StageGroup"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedSs1977"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedSs2000"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedAjccFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedSs1977Flag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedSs2000Flag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DerivedNeoAdJuvRxFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummTreatmentStatus"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummSurgPrimSite"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummScopeRegLnSur"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummSurgOthRegDis"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummRegLnExamined"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummSurgicalApproach"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummSurgicalMargins"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummReconstruct1st"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRxReconstructDel"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:ReasonForNoSurgery"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummDxStgProc"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummRadiation"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummRadToCns"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummSurgRadSeq"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummChemo"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummHormone"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummBrm"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummOther"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:ReasonForNoRadiation"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummSystemicSurgSeq"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummSurgeryType"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummSurgSite9802"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummScopeReg9802"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummSurgOth9802"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateSystemic"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateSystemicFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummTransplntEndocr"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxSummPalliativeProc"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxHospPalliativeProc"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateOfInitialRx"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateOfInitialRxFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateOf1stCrsRxCoc"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DateOf1stCrsRxCocFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxCodingSysCurrent"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxHospSurgApp2010"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxHospSurgPrimSite"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxHospSurgSite9802"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxHospSurgOth9802"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxHospScopeRegLnSur"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxHospScopeReg9802"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxHospSurgOthRegDis"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxHospRegLnRemoved"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateSurgery"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateSurgeryFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateMostDefinSurg"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateMostDefinSurgFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateSurgicalDisch"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateSurgicalDischFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:ReadmSameHosp30Days"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxTextSurgery"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RadBoostRxModality"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RadBoostDoseCgy"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateRadiationEnded"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateRadiationEndedFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxHospRadiation"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateRadiation"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateRadiationFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RadRegionalDoseCgy"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RadNoOfTreatmentVol"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RadTreatmentVolume"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RadLocationOfRx"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RadRegionalRxModality"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxTextRadiationBeam"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxTextRadiationOther"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxHospChemo"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateChemo"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateChemoFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxTextChemo"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxHospHormone"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateHormone"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateHormoneFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxTextHormone"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxHospBrm"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateBrm"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateBrmFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxTextBrm"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxHospOther"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateOther"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxDateOtherFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RxTextOther"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx2ndCourseDate"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx2ndCourseDateFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx2ndCourseSurg"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx2ndSurgOth"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx2ndRegLnRem"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx2ndScopeLnSu"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx2ndCourseRad"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx2ndCourseChemo"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx2ndCourseHorm"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx2ndCourseBrm"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx2ndCourseOth"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx3rdCourseDate"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx3rdCourseDateFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx3rdCourseSurg"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx3rdSurgOth"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx3rdRegLnRem"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx3rdScopeLnSu"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx3rdCourseRad"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx3rdCourseChemo"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx3rdCourseHorm"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx3rdCourseBrm"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx3rdCourseOth"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx4thCourseDate"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx4thCourseDateFlag"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx4thCourseSurg"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx4thSurgOth"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx4thRegLnRem"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx4thScopeLnSu"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx4thCourseRad"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx4thCourseChemo"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx4thCourseHorm"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx4thCourseBrm"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:SubsqRx4thCourseOth"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:AddressAtDxCity"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:AddressAtDxState"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:AddressAtDxCounty"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:AddressAtDxPostalCode"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:MaritalStatusAtDx"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:AgeAtDx"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CensusTract708090"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CensusCodingSys708090"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CensusBlockGroup708090"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CensusCertainty708090"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CensusTract2000"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CensusBlockGroup2000"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CensusCertainty2000"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CensusTract2010"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CensusBlockGroup2010"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CensusCertainty2010"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:CensusPovertyIndictr"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:GisQuality"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RuralUrbanContinuum1993"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:RuralUrbanContinuum2003"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:AddressAtDxCountry"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:MedicalRecordNumber"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:MilitaryRecordNoSuffix"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:AddressAtDxStreetName"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:AddressAtDxSupplementl"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:Latitude"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:Longitude"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:DcStateFileNumber"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathReportFacId1"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathReportNumber1"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathOrderPhysLicNo1"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathOrderingFacNo1"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathDateSpecCollect1"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathReportType1"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathReportFacId2"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathReportNumber2"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathOrderPhysLicNo2"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathOrderingFacNo2"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathDateSpecCollect2"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathReportType2"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathReportFacId3"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathReportNumber3"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathOrderPhysLicNo3"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathOrderingFacNo3"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathDateSpecCollect3"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathReportType3"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathReportFacId4"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathReportNumber4"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathOrderPhysLicNo4"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathOrderingFacNo4"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathDateSpecCollect4"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathReportType4"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathReportFacId5"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathReportNumber5"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathOrderPhysLicNo5"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathOrderingFacNo5"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathDateSpecCollect5"></xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" ref="naxml:PathReportType5"></xsd:element>
										<xsd:element minOccurs="0" name="TumorExtension">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:any maxOccurs="unbounded" processContents="lax"></xsd:any>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="naaccrVersion"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
