src/main/resources/roger/naaccr5.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://naaccr.org/naaccrfile" targetNamespace="http://naaccr.org/naaccrfile" >

<xsd:include schemaLocation="xsditem5.xsd" />

<xsd:element name="NAACCRFile">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element ref="tns:Patient" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="extractID" use="required" />
		<xsd:attribute name="NAACCRVersion" use="required" />
		<xsd:attribute name="xsdVersion" use="optional" fixed="1.0" />
		<xsd:attribute name="datePrepared" use="required" type="xsd:dateTime" />
		<xsd:attribute name="sender" use="optional" />
		<xsd:attribute name="senderCode" use="optional" />
		<xsd:attribute name="description" use="optional" />
	</xsd:complexType>
</xsd:element>

<xsd:element name="Patient">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element ref="tns:PatientID" minOccurs="1" />
			<xsd:element ref="tns:Race1" minOccurs="1" />
			<xsd:element ref="tns:Race2" minOccurs="1" />
			<xsd:element ref="tns:Race3" minOccurs="1" />
			<xsd:element ref="tns:Race4" minOccurs="1" />
			<xsd:element ref="tns:Race5" minOccurs="1" />
			<xsd:element ref="tns:RaceCodSysCur" minOccurs="1" />
			<xsd:element ref="tns:RaceCodSysOrg" minOccurs="1" />
			<xsd:element ref="tns:Hispanic" minOccurs="1" />
			<xsd:element ref="tns:NHIA" minOccurs="0" />
			<xsd:element ref="tns:IHSLink" minOccurs="0" />
			<xsd:element ref="tns:RaceNAPIIA" minOccurs="0" />
			<xsd:element ref="tns:CompEthn" minOccurs="0" />
			<xsd:element ref="tns:CompEthnSrc" minOccurs="0" />
			<xsd:element ref="tns:Sex" minOccurs="1" />
			<xsd:element ref="tns:BirthDate" minOccurs="0" />
			<xsd:element ref="tns:BirthDateFlag" minOccurs="0" />
			<xsd:element ref="tns:BPCode" minOccurs="0" />
			<xsd:element ref="tns:BPState" minOccurs="0" />
			<xsd:element ref="tns:BPCountry" minOccurs="0" />
			<xsd:element ref="tns:DateLastContact" minOccurs="1" />
			<xsd:element ref="tns:DateLastContFlag" minOccurs="1" />
			<xsd:element ref="tns:DateDeathCanada" minOccurs="0" />
			<xsd:element ref="tns:DateDeathCanadaFl" minOccurs="0" />
			<xsd:element ref="tns:VitalStatus" minOccurs="1" />
			<xsd:element ref="tns:FupSource" minOccurs="0" />
			<xsd:element ref="tns:FupSourceCentral" minOccurs="0" />
			<xsd:element ref="tns:NextFupSource" minOccurs="0" />
			<xsd:element ref="tns:CurrCity" minOccurs="0" />
			<xsd:element ref="tns:CurrState" minOccurs="0" />
			<xsd:element ref="tns:CurrPostalZip" minOccurs="0" />
			<xsd:element ref="tns:CurrCountry" minOccurs="0" />
			<xsd:element ref="tns:CurrCounty" minOccurs="0" />
			<xsd:element ref="tns:FupContCity" minOccurs="0" />
			<xsd:element ref="tns:FupContState" minOccurs="0" />
			<xsd:element ref="tns:FupContPostalZip" minOccurs="0" />
			<xsd:element ref="tns:FupContCountry" minOccurs="0" />
			<xsd:element ref="tns:DthCause" minOccurs="1" />
			<xsd:element ref="tns:ICDRevNum" minOccurs="1" />
			<xsd:element ref="tns:Autopsy" minOccurs="0" />
			<xsd:element ref="tns:DthPlace" minOccurs="0" />
			<xsd:element ref="tns:DthPlaceState" minOccurs="0" />
			<xsd:element ref="tns:DthPlaceCountry" minOccurs="0" />
			<xsd:element ref="tns:LastName" minOccurs="1" />
			<xsd:element ref="tns:FirstName" minOccurs="1" />
			<xsd:element ref="tns:MiddleName" minOccurs="0" />
			<xsd:element ref="tns:NamePrefix" minOccurs="0" />
			<xsd:element ref="tns:NameSuffix" minOccurs="0" />
			<xsd:element ref="tns:Alias" minOccurs="0" />
			<xsd:element ref="tns:SpouseName" minOccurs="0" />
			<xsd:element ref="tns:SocSec" minOccurs="1" />
			<xsd:element ref="tns:CurrNumAndSt" minOccurs="0" />
			<xsd:element ref="tns:CurrSupp" minOccurs="0" />
			<xsd:element ref="tns:Phone" minOccurs="0" />
			<xsd:element ref="tns:DCStateFileNum" minOccurs="0" />
			<xsd:element ref="tns:MaidName" minOccurs="0" />
			<xsd:element ref="tns:FupContNumAndSt" minOccurs="0" />
			<xsd:element ref="tns:FupContSupp" minOccurs="0" />
			<xsd:element ref="tns:FupContName" minOccurs="0" />
			<xsd:element ref="tns:FollowRegistry" minOccurs="0" />
			<xsd:element ref="tns:NPIFollowRegistry" minOccurs="0" />
			<xsd:element ref="tns:PhysFup" minOccurs="0" />
			<xsd:element ref="tns:NPIPhysFup" minOccurs="0" />	

			<xsd:element ref="tns:Tumor" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:element name="Tumor">
	<xsd:complexType>
		<xsd:sequence>

			<xsd:element ref="tns:PatientID" minOccurs="1" />
			<xsd:element ref="tns:TumRecNum" minOccurs="1" />
			<xsd:element ref="tns:DxCity" minOccurs="1" />
			<xsd:element ref="tns:DxState" minOccurs="1" />
			<xsd:element ref="tns:DxCounty" minOccurs="1" />
			<xsd:element ref="tns:DxPostalZip" minOccurs="1" />
			<xsd:element ref="tns:DxCountry" minOccurs="0" />
			<xsd:element ref="tns:CenTract708090" minOccurs="0" />
			<xsd:element ref="tns:CenCodSys708090" minOccurs="0" />
			<xsd:element ref="tns:CenTract2000" minOccurs="0" />
			<xsd:element ref="tns:CenTract2010" minOccurs="0" />
			<xsd:element ref="tns:PovertyInd" minOccurs="0" />
			<xsd:element ref="tns:Marital" minOccurs="0" />
			<xsd:element ref="tns:AgeDx" minOccurs="0" />
			<xsd:element ref="tns:OccCen" minOccurs="0" />
			<xsd:element ref="tns:IndCen2010" minOccurs="0" />
			<xsd:element ref="tns:IndCen" minOccurs="0" />
			<xsd:element ref="tns:OccCen2010" minOccurs="0" />
			<xsd:element ref="tns:OccSrc" minOccurs="0" />
			<xsd:element ref="tns:IndSrc" minOccurs="0" />
			<xsd:element ref="tns:TxUsualOcc" minOccurs="0" />
			<xsd:element ref="tns:TxUsualInd" minOccurs="0" />
			<xsd:element ref="tns:OccIndCodSys" minOccurs="0" />
			<xsd:element ref="tns:CenBlockGrp2000" minOccurs="0" />
			<xsd:element ref="tns:CenBlockGrp2010" minOccurs="0" />
			<xsd:element ref="tns:CenTractCer708090" minOccurs="0" />
			<xsd:element ref="tns:CenTractCer2000" minOccurs="0" />
			<xsd:element ref="tns:GISQuality" minOccurs="0" />
			<xsd:element ref="tns:CenTractCer2010" minOccurs="0" />
			<xsd:element ref="tns:CenBlockGrp708090" minOccurs="0" />
			<xsd:element ref="tns:SeqNumCentr" minOccurs="1" />
			<xsd:element ref="tns:DxDate" minOccurs="1" />
			<xsd:element ref="tns:DxDateFlag" minOccurs="1" />
			<xsd:element ref="tns:PSite" minOccurs="1" />
			<xsd:element ref="tns:Lateral" minOccurs="1" />
			<xsd:element ref="tns:HistTypeICDO2" minOccurs="0" />
			<xsd:element ref="tns:BehaviorICDO2" minOccurs="0" />
			<xsd:element ref="tns:DateMultTumorFlag" minOccurs="0" />
			<xsd:element ref="tns:Grade" minOccurs="1" />
			<xsd:element ref="tns:GradePathValue" minOccurs="0" />
			<xsd:element ref="tns:AmbiguousTerm" minOccurs="0" />
			<xsd:element ref="tns:DateConclusiveDX" minOccurs="0" />
			<xsd:element ref="tns:MultTumAsOne" minOccurs="0" />
			<xsd:element ref="tns:DateMultTumors" minOccurs="0" />
			<xsd:element ref="tns:MultiplicityCount" minOccurs="0" />
			<xsd:element ref="tns:DateConclusDXFlag" minOccurs="0" />
			<xsd:element ref="tns:GradePathSys" minOccurs="0" />
			<xsd:element ref="tns:SiteCodSysCur" minOccurs="1" />
			<xsd:element ref="tns:SiteCodSysOrg" minOccurs="1" />
			<xsd:element ref="tns:MorphCodSysCur" minOccurs="1" />
			<xsd:element ref="tns:MorphCodSysOrg" minOccurs="1" />
			<xsd:element ref="tns:DxConf" minOccurs="1" />
			<xsd:element ref="tns:TypeRepSrc" minOccurs="1" />
			<xsd:element ref="tns:CasefindingSrc" minOccurs="0" />
			<xsd:element ref="tns:HistTypeICDO3" minOccurs="1" />
			<xsd:element ref="tns:BehaviorICDO3" minOccurs="1" />
			<xsd:element ref="tns:PriPayerDx" minOccurs="0" />
			<xsd:element ref="tns:SEERSumStg2000" minOccurs="0" />
			<xsd:element ref="tns:SEERSumStg1977" minOccurs="0" />
			<xsd:element ref="tns:EODTumSize" minOccurs="0" />
			<xsd:element ref="tns:EODExtent" minOccurs="0" />
			<xsd:element ref="tns:EODPathProst" minOccurs="0" />
			<xsd:element ref="tns:EODLymNode" minOccurs="0" />
			<xsd:element ref="tns:RegNodPos" minOccurs="0" />
			<xsd:element ref="tns:RegNodExam" minOccurs="0" />
			<xsd:element ref="tns:EOD13Dig" minOccurs="0" />
			<xsd:element ref="tns:EOD2Dig" minOccurs="0" />
			<xsd:element ref="tns:EOD4Dig" minOccurs="0" />
			<xsd:element ref="tns:EODCodSys" minOccurs="0" />
			<xsd:element ref="tns:AJCCTPath" minOccurs="0" />
			<xsd:element ref="tns:AJCCNPath" minOccurs="0" />
			<xsd:element ref="tns:AJCCMPath" minOccurs="0" />
			<xsd:element ref="tns:AJCCPathGrp" minOccurs="0" />
			<xsd:element ref="tns:TNMPathDescr" minOccurs="0" />
			<xsd:element ref="tns:TNMPathStgBy" minOccurs="0" />
			<xsd:element ref="tns:AJCCTClin" minOccurs="0" />
			<xsd:element ref="tns:AJCCNClin" minOccurs="0" />
			<xsd:element ref="tns:AJCCMClin" minOccurs="0" />
			<xsd:element ref="tns:AJCCClinGrp" minOccurs="0" />
			<xsd:element ref="tns:TNMClinDesc" minOccurs="0" />
			<xsd:element ref="tns:TNMClinStgBy" minOccurs="0" />
			<xsd:element ref="tns:TNMEdition" minOccurs="0" />
			<xsd:element ref="tns:PedStage" minOccurs="0" />
			<xsd:element ref="tns:PedStageSys" minOccurs="0" />
			<xsd:element ref="tns:PedStageBy" minOccurs="0" />
			<xsd:element ref="tns:TumMark1" minOccurs="0" />
			<xsd:element ref="tns:TumMark2" minOccurs="0" />
			<xsd:element ref="tns:TumMark3" minOccurs="0" />
			<xsd:element ref="tns:LVI" minOccurs="0" />
			<xsd:element ref="tns:RxDateSurg" minOccurs="0" />
			<xsd:element ref="tns:RxDateSurgFlag" minOccurs="0" />
			<xsd:element ref="tns:RxDateRad" minOccurs="0" />
			<xsd:element ref="tns:RxDateRadFlag" minOccurs="0" />
			<xsd:element ref="tns:RxDateChemo" minOccurs="0" />
			<xsd:element ref="tns:RxDateChemoFlag" minOccurs="0" />
			<xsd:element ref="tns:RxDateHorm" minOccurs="0" />
			<xsd:element ref="tns:RxDateHormFlag" minOccurs="0" />
			<xsd:element ref="tns:RxDateBRM" minOccurs="0" />
			<xsd:element ref="tns:RxDateBRMFlag" minOccurs="0" />
			<xsd:element ref="tns:RxDateOth" minOccurs="0" />
			<xsd:element ref="tns:RxDateOthFlag" minOccurs="0" />
			<xsd:element ref="tns:FirstRxDateSEER" minOccurs="0" />
			<xsd:element ref="tns:FirstRxDtSEERFlag" minOccurs="0" />
			<xsd:element ref="tns:FirstRxDateCOC" minOccurs="0" />
			<xsd:element ref="tns:FirstRxDtCOCFlag" minOccurs="0" />
			<xsd:element ref="tns:RxDateDXStg" minOccurs="0" />
			<xsd:element ref="tns:RxDateDXStgFlag" minOccurs="0" />
			<xsd:element ref="tns:RXSummRXStatus" minOccurs="0" />
			<xsd:element ref="tns:RxSumSurgPSite" minOccurs="1" />
			<xsd:element ref="tns:RxSumScopeRegLN" minOccurs="1" />
			<xsd:element ref="tns:RxSumSurgOthReg" minOccurs="1" />
			<xsd:element ref="tns:RxSumRegLNExam" minOccurs="0" />
			<xsd:element ref="tns:SurgApproch" minOccurs="0" />
			<xsd:element ref="tns:RxSumSurgMarg" minOccurs="0" />
			<xsd:element ref="tns:ReconSurg" minOccurs="0" />
			<xsd:element ref="tns:ReasonNoSurg" minOccurs="1" />
			<xsd:element ref="tns:RxSumDXStg" minOccurs="0" />
			<xsd:element ref="tns:RxSumRad" minOccurs="0" />
			<xsd:element ref="tns:RxSumRadCNS" minOccurs="0" />
			<xsd:element ref="tns:RxSumSurgRadSeq" minOccurs="1" />
			<xsd:element ref="tns:RxSumChemo" minOccurs="0" />
			<xsd:element ref="tns:RxSumHorm" minOccurs="0" />
			<xsd:element ref="tns:RxSumBRM" minOccurs="0" />
			<xsd:element ref="tns:RxSumOth" minOccurs="0" />
			<xsd:element ref="tns:ReasonNoRad" minOccurs="0" />
			<xsd:element ref="tns:RxCodSysCur" minOccurs="0" />
			<xsd:element ref="tns:RadRegModal" minOccurs="1" />
			<xsd:element ref="tns:RxSumSysSurSeq" minOccurs="1" />
			<xsd:element ref="tns:RxSumSurgOld" minOccurs="0" />
			<xsd:element ref="tns:RxSumSurgSite9802" minOccurs="0" />
			<xsd:element ref="tns:RxSumScopeReg9802" minOccurs="0" />
			<xsd:element ref="tns:RxSumSurgOth9802" minOccurs="0" />
			<xsd:element ref="tns:CAStat" minOccurs="0" />
			<xsd:element ref="tns:FupUnusual" minOccurs="0" />
			<xsd:element ref="tns:OldSite" minOccurs="0" />
			<xsd:element ref="tns:OldHist" minOccurs="0" />
			<xsd:element ref="tns:OldBeh" minOccurs="0" />
			<xsd:element ref="tns:OldGrade" minOccurs="0" />
			<xsd:element ref="tns:ICDConvFlg" minOccurs="0" />
			<xsd:element ref="tns:OvrdSSNodesPos" minOccurs="0" />
			<xsd:element ref="tns:OvrdSSTNMN" minOccurs="0" />
			<xsd:element ref="tns:OvrdSSTNMM" minOccurs="0" />
			<xsd:element ref="tns:OvrdAcsnClassSeq" minOccurs="0" />
			<xsd:element ref="tns:OvrdHospSeqDxConf" minOccurs="0" />
			<xsd:element ref="tns:OvrdCOCSiteType" minOccurs="0" />
			<xsd:element ref="tns:OvrdHospSeqSite" minOccurs="0" />
			<xsd:element ref="tns:OvrdSiteTNMStgGrp" minOccurs="0" />
			<xsd:element ref="tns:OvrdAgeSiteMorph" minOccurs="0" />
			<xsd:element ref="tns:OvrdSqDxCnf" minOccurs="0" />
			<xsd:element ref="tns:OvrdSitLatSq" minOccurs="0" />
			<xsd:element ref="tns:OvrdSurgDxCf" minOccurs="0" />
			<xsd:element ref="tns:OvrdSiteType" minOccurs="0" />
			<xsd:element ref="tns:OvrdHist" minOccurs="0" />
			<xsd:element ref="tns:OvrdRepSrc" minOccurs="0" />
			<xsd:element ref="tns:OvrdIldfSite" minOccurs="0" />
			<xsd:element ref="tns:OvrdLeukLym" minOccurs="0" />
			<xsd:element ref="tns:OvrdSiteBeh" minOccurs="0" />
			<xsd:element ref="tns:OvrdSiteEODDXDt" minOccurs="0" />
			<xsd:element ref="tns:OvrdSiteLatEOD" minOccurs="0" />
			<xsd:element ref="tns:OvrdSiteLatMorph" minOccurs="0" />
			<xsd:element ref="tns:DateLastChgd" minOccurs="0" />
			<xsd:element ref="tns:DtTumorRecAvail" minOccurs="0" />
			<xsd:element ref="tns:ICDO3ConvFlag" minOccurs="1" />
			<xsd:element ref="tns:SEERCodSysCur" minOccurs="0" />
			<xsd:element ref="tns:SEERCodSysOrg" minOccurs="0" />
			<xsd:element ref="tns:COCCodSysCur" minOccurs="0" />
			<xsd:element ref="tns:COCCodSysOrg" minOccurs="0" />
			<xsd:element ref="tns:SEERTypeFup" minOccurs="0" />
			<xsd:element ref="tns:SEERRecNum" minOccurs="0" />
			<xsd:element ref="tns:DxProcs" minOccurs="0" />
			<xsd:element ref="tns:DxNumAndSt" minOccurs="1" />
			<xsd:element ref="tns:DxSupp" minOccurs="0" />
			<xsd:element ref="tns:Latitude" minOccurs="0" />
			<xsd:element ref="tns:Longitude" minOccurs="0" />
			<xsd:element ref="tns:PhysManaging" minOccurs="0" />
			<xsd:element ref="tns:NPIPhysManaging" minOccurs="0" />
			<xsd:element ref="tns:CSTumorSize" minOccurs="1" />
			<xsd:element ref="tns:CSExt" minOccurs="1" />
			<xsd:element ref="tns:CSSizeExtEval" minOccurs="0" />
			<xsd:element ref="tns:CSLymphNodes" minOccurs="1" />
			<xsd:element ref="tns:CSNodesEval" minOccurs="0" />
			<xsd:element ref="tns:CSMetsDX" minOccurs="1" />
			<xsd:element ref="tns:CSMetsAtDXBone" minOccurs="0" />
			<xsd:element ref="tns:CSMetsAtDXBrain" minOccurs="0" />
			<xsd:element ref="tns:CSMetsAtDXLiver" minOccurs="0" />
			<xsd:element ref="tns:CSMetsAtDXLung" minOccurs="0" />
			<xsd:element ref="tns:CSMetsEval" minOccurs="0" />
			<xsd:element ref="tns:CSSSF7" minOccurs="0" />
			<xsd:element ref="tns:CSSSF8" minOccurs="0" />
			<xsd:element ref="tns:CSSSF9" minOccurs="0" />
			<xsd:element ref="tns:CSSSF10" minOccurs="0" />
			<xsd:element ref="tns:CSSSF11" minOccurs="0" />
			<xsd:element ref="tns:CSSSF12" minOccurs="0" />
			<xsd:element ref="tns:CSSSF13" minOccurs="0" />
			<xsd:element ref="tns:CSSSF14" minOccurs="0" />
			<xsd:element ref="tns:CSSSF15" minOccurs="0" />
			<xsd:element ref="tns:CSSSF16" minOccurs="0" />
			<xsd:element ref="tns:CSSSF17" minOccurs="0" />
			<xsd:element ref="tns:CSSSF18" minOccurs="0" />
			<xsd:element ref="tns:CSSSF19" minOccurs="0" />
			<xsd:element ref="tns:CSSSF20" minOccurs="0" />
			<xsd:element ref="tns:CSSSF21" minOccurs="0" />
			<xsd:element ref="tns:CSSSF22" minOccurs="0" />
			<xsd:element ref="tns:CSSSF23" minOccurs="0" />
			<xsd:element ref="tns:CSSSF24" minOccurs="0" />
			<xsd:element ref="tns:CSSSF25" minOccurs="0" />
			<xsd:element ref="tns:CSSSF1" minOccurs="0" />
			<xsd:element ref="tns:CSSSF2" minOccurs="0" />
			<xsd:element ref="tns:CSSSF3" minOccurs="0" />
			<xsd:element ref="tns:CSSSF4" minOccurs="0" />
			<xsd:element ref="tns:CSSSF5" minOccurs="0" />
			<xsd:element ref="tns:CSSSF6" minOccurs="0" />
			<xsd:element ref="tns:CSVerInputOrig" minOccurs="0" />
			<xsd:element ref="tns:CSVerDerived" minOccurs="0" />
			<xsd:element ref="tns:CSVerInputCurrent" minOccurs="0" />
			<xsd:element ref="tns:DerivedAJCC6T" minOccurs="0" />
			<xsd:element ref="tns:DerivedAJCC6TDes" minOccurs="0" />
			<xsd:element ref="tns:DerivedAJCC6N" minOccurs="0" />
			<xsd:element ref="tns:DerivedAJCC6NDes" minOccurs="0" />
			<xsd:element ref="tns:DerivedAJCC6M" minOccurs="0" />
			<xsd:element ref="tns:DerivedAJCC6MDes" minOccurs="0" />
			<xsd:element ref="tns:DerivedAJCC6StGrp" minOccurs="0" />
			<xsd:element ref="tns:DerivedSS1977" minOccurs="0" />
			<xsd:element ref="tns:DerivedSS2000" minOccurs="0" />
			<xsd:element ref="tns:DerivedTNMFlag" minOccurs="0" />
			<xsd:element ref="tns:DerivedSS77Flag" minOccurs="0" />
			<xsd:element ref="tns:DerivedSS2000Flag" minOccurs="0" />
			<xsd:element ref="tns:RxDateMostDefSurg" minOccurs="0" />
			<xsd:element ref="tns:RxDateDefSurgFlag" minOccurs="0" />
			<xsd:element ref="tns:RxDateSystemic" minOccurs="0" />
			<xsd:element ref="tns:RxDateSystmcFlag" minOccurs="0" />
			<xsd:element ref="tns:RxSumTransEndo" minOccurs="0" />
			<xsd:element ref="tns:RuralUrbanCon1993" minOccurs="0" />
			<xsd:element ref="tns:RuralUrbanCon2003" minOccurs="0" />
			<xsd:element ref="tns:DerivedAJCC7T" minOccurs="0" />
			<xsd:element ref="tns:DerivedAJCC7TDes" minOccurs="0" />
			<xsd:element ref="tns:DerivedAJCC7N" minOccurs="0" />
			<xsd:element ref="tns:DerivedAJCC7NDes" minOccurs="0" />
			<xsd:element ref="tns:DerivedAJCC7M" minOccurs="0" />
			<xsd:element ref="tns:DerivedAJCC7MDes" minOccurs="0" />
			<xsd:element ref="tns:DerivedAJCC7StGrp" minOccurs="0" />
			<xsd:element ref="tns:NPCRField1" minOccurs="0" />
			<xsd:element ref="tns:OvrdCS1" minOccurs="0" />
			<xsd:element ref="tns:OvrdCS2" minOccurs="0" />
			<xsd:element ref="tns:OvrdCS3" minOccurs="0" />
			<xsd:element ref="tns:OvrdCS4" minOccurs="0" />
			<xsd:element ref="tns:OvrdCS5" minOccurs="0" />
			<xsd:element ref="tns:OvrdCS6" minOccurs="0" />
			<xsd:element ref="tns:OvrdCS7" minOccurs="0" />
			<xsd:element ref="tns:OvrdCS8" minOccurs="0" />
			<xsd:element ref="tns:OvrdCS9" minOccurs="0" />
			<xsd:element ref="tns:OvrdCS10" minOccurs="0" />
			<xsd:element ref="tns:OvrdCS11" minOccurs="0" />
			<xsd:element ref="tns:OvrdCS12" minOccurs="0" />
			<xsd:element ref="tns:OvrdCS13" minOccurs="0" />
			<xsd:element ref="tns:OvrdCS14" minOccurs="0" />
			<xsd:element ref="tns:OvrdCS15" minOccurs="0" />
			<xsd:element ref="tns:OvrdCS16" minOccurs="0" />
			<xsd:element ref="tns:OvrdCS17" minOccurs="0" />
			<xsd:element ref="tns:OvrdCS18" minOccurs="0" />
			<xsd:element ref="tns:OvrdCS19" minOccurs="0" />
			<xsd:element ref="tns:OvrdCS20" minOccurs="0" />
			<xsd:element ref="tns:SecondaryDx1" minOccurs="0" />
			<xsd:element ref="tns:SecondaryDx2" minOccurs="0" />
			<xsd:element ref="tns:SecondaryDx3" minOccurs="0" />
			<xsd:element ref="tns:SecondaryDx4" minOccurs="0" />
			<xsd:element ref="tns:SecondaryDx5" minOccurs="0" />
			<xsd:element ref="tns:SecondaryDx6" minOccurs="0" />
			<xsd:element ref="tns:SecondaryDx7" minOccurs="0" />
			<xsd:element ref="tns:SecondaryDx8" minOccurs="0" />
			<xsd:element ref="tns:SecondaryDx9" minOccurs="0" />
			<xsd:element ref="tns:SecondaryDx10" minOccurs="0" />
	
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

</xsd:schema>
